{% extends 'layout.njk' %}

{% block content %}
<section id="contagio">
      <div class="contagio-text">
        <h1>Contágio</h1>
        <p>Corana Vírus pode ser transmitido das seguintes formas</p>
      </div>
      <div class="cards">
        <div class="card">
          <div class="image-card">
            <img src="./assets/Group 18544.svg" alt="" />
            <h1>Transmissão pelo ar</h1>
            <p>O vírus pode ser transmitido através do ar</p>
          </div>
        </div>

        <div class="card">
          <div class="image-card card-contato">
            <img src="./assets/Group 18542.svg" alt="" />
            <h1>Contato</h1>
            <p>Pelo contato com as mãos</p>
          </div>
        </div>

        <div class="card">
          <div class="image-card">
            <img src="./assets/Group 18540.svg" alt="" />
            <h1>Objetos</h1>
            <p>Por objetos pessoais</p>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}