{% extends 'layout.njk' %}

{% block content %}
<section id="prevencao">
      <div class="prevencao-title">
        <h1>Prevenção</h1>
        <p>Maneiras de evitar o contágio</p>
      </div>
      <div class="prevencao-cards">
        <div>
          <span><img src="./assets/Group 18548.svg" alt="" /></span>
        </div>
        <div class="prevencao-text">
          <h1>Use Máscara</h1>
          <p>A máscara previne a transmissão, protege você e o outros</p>
        </div>
        <div class="prevencao-img">
          <img src="./assets/Mask girl.svg" alt="" />
        </div>
      </div>
      <div class="prevencao-cards">
        <div class="prevencao-img-2">
          <img src="./assets/Mask.svg" alt="" />
        </div>
        <div>
          <span class="dois"><img src="./assets/Group 18549.svg" alt="" /></span>
        </div>
        <div class="prevencao-text-2">
          <span></span>
          <h1>Lave as Mãos</h1>
          <p>
            Lave as mãos com sabonete após ter contato com qualquer superfície.
            Caso esteja na rua use alcool em gel.
          </p>
        </div>
       
      </div>
      <div class="prevencao-cards">
        <div>
          <span class="tres"><img src="./assets/Group 18550.svg" alt="" /></span>
        </div>
        <div class="prevencao-text">
          <h1>Evite Contato Físico</h1>
          <p>
           O vírus pode ser transmitido após a pessoa tossir ou espirrar e com isso o mesmo pode estar em contato com as mãos. Procure ficar pelo menos à 1 metro de distância de outra pessoa.
          </p>
        </div>
        <div class="prevencao-img">
          <img src="./assets/Mask (1).svg" alt="" />
        </div>
      </div>
    </section>
{% endblock content %}


