{% extends 'layout.njk' %}

{% block content %}
    <section id="sintomas">
        <div class="sintomas-text">
            <h1>Sintomas</h1>
            <p>Corona vírus pode apresentar os seguintes sintomas</p>
        </div>
        <div class="sintomas-img">
            <img src="./assets/Group 15444.svg" alt="sintomas"/>
        </div>
    </section>
{% endblock content %}