{% extends 'layout.njk' %}

{% block content %}
<section id="about">
      <div class="img-about">
        <img src="./assets/Group 15404.svg" alt="" />
      </div>
      <div class="about-text">
        <h1>Coronavírus</h1>
        <p>
          Os coronavírus são uma grande família de vírus comuns em muitas
          espécies diferentes de animais, incluindo camelos, gado, gatos e
          morcegos. Raramente, os coronavírus que infectam animais podem
          infectar pessoas, como exemplo do MERS-CoV e SARS-CoV. Recentemente,
          em dezembro de 2019, houve a transmissão de um novo coronavírus
          (SARS-CoV-2), o qual foi identificado em Wuhan na China e causou a
          COVID-19, sendo em seguida disseminada e transmitida pessoa a pessoa.
        </p>
        <a href="#">Leia Mais</a>
      </div>
    </section>
{% endblock content %}