@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #dfdfdf;
}

header {
  background-color: #cfcfcf;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.nav {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  gap: 30px;
  max-width: 940px;
  margin: 0 auto;
}

.logo img {
  width: 180px;
}

.link a {
  color: #035755;
  text-decoration: none;
}

.link a + a {
  margin-left: 20px;
}

a.button {
  color: #ff383d;
  background-color: white;
  padding: 8px 16px;
  border-radius: 10px;
  text-align: center;
}

.banner {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px;
  align-items: center;
  background-color: white;
  margin-top: 30px;
  border-radius: 6px;
}

.banner-img img {
  width: 600px;
  height: 400px;
}

.text-banner h1 {
  color: #fa5652;
  font-size: 32px;
  margin-bottom: 16px;
}

.text-banner h2 {
  color: #035755;
}

.text-banner p {
  color: #707070;
  margin-top: 15px;
  margin-bottom: 40px;
}

.text-banner a {
  background-color: #fb4c47;
  color: #ffff;
  text-decoration: none;
  text-align: center;
  padding: 16px 8px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

section#about {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px;
  align-items: center;
  background-color: white;
  margin-top: 30px;
  border-radius: 6px;
}

.img-about img {
  width: 600px;
  height: 400px;
}

.about-text h1 {
  color: #035755;
}

.about-text p {
  font-size: 12px;
  color: #707070;
  margin-top: 16px;
  margin-bottom: 30px;
}

.about-text a {
  text-decoration: none;
  color: #fa5652;
  font-size: 14px;
  font-weight: bold;
}

section#contagio {
  max-width: 1005px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 30px;
}

.contagio-text h1 {
  color: #035755;
  text-align: center;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 32px;
  padding-top: 20px;
}

.contagio-text p {
  color: #707070;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card .image-card img {
  width: 200px;
  width: 200px;
  padding: 16px;
  margin-top: 32px;
  align-content: center;
  margin-left: 40px;
}

.card .image-card h1 {
  text-align: center;
  color: #035755;
  margin-bottom: 8px;
  font-size: 20px;
}

.card .image-card p {
  text-align: center;
  color: #707070;
  margin-bottom: 100px;
}

.image-card.card-contato img {
  padding: 20px;
  margin-top: 2px;
}

section#sintomas {
  max-width: 1005px;
  margin: 0 auto;
  background-color: white;
  border-radius: 6px;
  margin-top: 30px;
}

.sintomas-text h1 {
  color: #035755;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  padding-top: 20px;
}

.sintomas-text p {
  color: #707070;
  text-align: center;
}

.sintomas-img img {
  max-width: 700px;
  margin: 0 auto;
  padding: 0px 130px;
  margin-bottom: 100px;
}

section#prevencao {
  max-width: 1005px;
  margin: 0 auto;
  background-color: white;
  border-radius: 6px;
  margin-top: 30px;
}

.prevencao-title h1 {
  font-size: 32px;
  color: #035755;
  text-align: center;
  padding-top: 20px;
  
}

.prevencao-title p {
  color: #707070;
  text-align: center;
  margin-bottom: 6px;
}

.prevencao-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  padding: 50px;
  position: relative;
}

.prevencao-text h1 {
  color: #035755;
}

.prevencao-text p {
  color: #707070;
}
.prevencao-cards span img {
  width: 50px;
  position: absolute;
  left: 240px;
  top: 160px;
}

.prevencao-cards img {
  width: 300px;
  padding-right: 80px;
}

/* números */

.dois {
  width: 50px;
  position: absolute;
  left: 250px;
  top: -3px;
  margin: 0;
}
.prevencao-img-2 img {
  margin-left: 100px;
}

.prevencao-text-2 span {
  margin-right: 380px;
}

.prevencao-text-2 h1 {
  color: #035755;
}

.prevencao-text-2 p {
  color: #707070;
}

.tres {
  width: 50px;
  position: absolute;
  left: 5px;
  top: -35px;
}

footer {
  background-color: #cfcfcf;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

span.red {
  color: #fa5652;
  font-size: 30px;
}
